body{
	font-family:Calibri, Verdana;
}
#main {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	display:block;
	overflow:hidden;
	background:url('images/background.jpg') repeat;
}
#container {
	width:1000px;
	height:62%;
	display:block;
	padding:0px;
	position:absolute;
	top:32%;
	left:50%;
	margin-left:-500px;
	background:#ffffff url('images/gst-12.png') no-repeat center center;
	box-shadow:0 0 2px 0 #ffffff;
	z-index:2;
}
#footer {
	position:absolute;
	width:100%;
	height:6%;
	bottom:0px;
	text-align:center;
	color:#ffffff;
	font-size:12px;
	line-height:32px;
	font-weight:bold;
	z-index:1;
}
#back-logo {
	width:180px;
	height:160px;
	display:block;
	position:absolute;
	left:50%;
	top:60%;
	margin-left:-90px;
	margin-top:-80px;
	background:url('images/back-logo.png') no-repeat;
	text-align:center;
	z-index:0;
}
#intro {
	width:580px;
	height:200px;
	display:block;
	position:absolute;
	top:32%;
	left:50%;
	margin-top:-140px;
	margin-left:-290px;
	background:url('images/intro.png') no-repeat;
	z-index:0;
}
#menu {
	position:absolute;
	width:1000px;
	height:32%;
	display:block;
	top:0px;
	left:50%;
	margin-left:-500px;
	z-index:1;
}
#web-logo {
	position:absolute;
	width:180px;
	height:42px;
	display:block;
	top:16px;
	left:400px;
	background:url('images/web-logo.png') no-repeat;
}

.bubble {
	position:absolute;
	width:80px;
	height:80px;
	display:block;
	background:url('images/bubble.png') no-repeat;
	text-align:center;
	line-height:80px;
	font-size:16px;
	color:#ffffff;
	overflow:hidden;
	text-decoration:none;
}

.bubble-intro { position:absolute; left:460px; bottom:40px; z-index:3; }

.bubble-home { background-position:-80px 0px; }
.bubble-about { background-position:-160px 0px; }
.bubble-events { background-position:0px -80px; }
.bubble-gallery { background-position:-160px -80px; }
.bubble-contact { background-position:-80px -80px; }

.bubble-pos-4 { position:absolute; left:60px; bottom:80px; z-index:4; }
.bubble-pos-3 { position:absolute; left:160px; bottom:70px; z-index:4; }
.bubble-pos-2 { position:absolute; left:260px; bottom:60px; z-index:4; }
.bubble-pos-1 { position:absolute; left:360px; bottom:50px; z-index:4; }
.bubble-pos0 { position:absolute; left:460px; bottom:40px; z-index:3; }
.bubble-pos1 { position:absolute; left:560px; bottom:50px; z-index:4; }
.bubble-pos2 { position:absolute; left:660px; bottom:60px; z-index:4; }
.bubble-pos3 { position:absolute; left:760px; bottom:70px; z-index:4; }
.bubble-pos4 { position:absolute; left:860px; bottom:80px; z-index:4; }

.arrow-down {
	position:absolute;
	bottom:6px;
	left:50%;
	margin-left:-22px;
	width:44px;
	height:30px;
	display:block;
	background:url('images/arrow-down.png') no-repeat;
}